@font-face {
    font-display: block;
    font-family: "Kalameh";
    src: url("../fonts/Kalameh-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-display: block;
    font-family: "Kalameh";
    src: url("../fonts/Kalameh-Thin.ttf");
    font-weight: 200;
}

@font-face {
    font-display: block;
    font-family: "Kalameh";
    src: url("../fonts/Kalameh-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-display: block;
    font-family: "Kalameh";
    src: url("../fonts/Kalameh-Bold.ttf");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: url(images/background.avif); */
    background-size: cover;
    font-family: "Kalameh", Arial, Helvetica, sans-serif;
}

/* general */
.btn {
    padding: 10px;
    border-radius: 12px;
    border: 3px #ffffff73 solid;
    background-color: #ffffff31;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s all ease;
}

.btn:hover {
    background: #ffffff63;
}

/* Chatbot */
/* Chatbot Button */
.chatbot-button {
    background: #3a0ca3;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0.5rem #5a5a5a80;
    transition: 0.2s all ease;
}

.chatbot-button:hover {
    box-shadow: -5px 5px 1rem #9e9e9e80;
    width: 75px;
    height: 75px;
}

.chatbot-button img {
    width: 100%;
    margin-top: -0.5rem;
}

/* Chatbot Header */
.chatbot {
    background: #f8f7ff;
    width: 400px;
    height: 500px;
    position: absolute;
    right: 2rem;
    bottom: 6rem;
    border-radius: 16px;
    box-shadow: -6px 6px 2rem #6b6b6b2d;
    overflow: hidden;
    padding: 1.6rem;
    z-index: 0;
}

.chatbot-hide {
    display: none;
}

.chatbot::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -140px;
    right: -140px;
    width: 450px;
    height: 450px;
    background: #f725852f;
    border-radius: 1000px;
    filter: blur(100px);
    z-index: -2;
}

.chatbot::before {
    content: "";
    display: block;
    position: absolute;
    top: -180px;
    left: -200px;
    width: 450px;
    height: 450px;
    background: #570bad2f;
    border-radius: 1000px;
    filter: blur(100px);
    z-index: -2;
}

.chatbot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.6rem;
}

.chatbot-logo img {
    width: 2.5rem;
}

.btn-close img {
    width: 20px;
}

/* Chatbot Body */
.chatbot-body {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    padding-bottom: 8rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.chat {
    padding: 0.7rem;
    border-radius: 12px;
    font-size: 1rem;
    line-height: 1.4;
    max-width: 300px;
    direction: rtl;
    text-align: justify;
    border: 3px #ffffff73 solid;
    backdrop-filter: blur(10px) saturate(150%);
    z-index: -1;
    justify-self: flex-end;
}

.user-chat {
    align-self: flex-end;
    background: #390ca34f;
}

.bot-chat {
    align-self: flex-start;
    background: #ffffff4f;
    position: relative;
}

/* Chatbot Footer */
.chatbot-footer {
    position: absolute;
    bottom: 1rem;
    right: 1.6rem;
    left: 1.6rem;
    z-index: 1;
}

.chatbot-footer-countainer {
    background: #ffffff50;
    border-radius: 16px;
}

.chatbot-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 10px;
}

.chatbot-chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    background: #ffffffbe;
    border-radius: 12px;
}

.chat-input {
    flex-grow: 1;
    height: 40px;
    border: none;
    text-align: right;
    background: none;
    padding-right: 10px;
    direction: rtl;
    outline: none;
}

.chat-input::placeholder {
    font-family: "Kalameh", Arial, Helvetica, sans-serif;
}

.btn-send-image img {
    width: 20px;
}

.btn-send img {
    width: 20px;
}

/* Media Query */
@media screen and (max-width: 750px) {
    .chatbot {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
